h1{
                font-size: 40px;
                color: FireBrick;
                text-align: center;
            }
            
            h2{
                font-size: 30px;
                color: Navy;
                text-align: center;
            }
            
            h3{
                font-size: 24px;
                color: GoldenRod;
            }
            
            h4{
                font-size: 20px;
                color: RebeccaPurple;
            }
            
            html{
                background-color: #EBF4FA;
            }
           
            p{
              margin: 1%;
              font-size: 18px;
              line-height: 24px;
            }
            
             table{
	       border:1px;
		border-style:solid; 
	       padding: 0.5%;
                Border-color: blue;
                width: 100%;
            }
	td, tr, th{
		border:1px;
		border-style:solid; 
	       padding: 0.5%;
                Border-color: blue;
                width: 33%;
}
	    
img{
		width: 200px;
	}

.validator{
	width: 65px;
}