h1{
                font-size: 40px;
                color: FireBrick;
                text-align: center;
            }
            
            h2{
                font-size: 30px;
                color: Navy;
                text-align: center;
            }
            
            h3{
                font-size: 24px;
                color: GoldenRod;
            }
            
            h4{
                font-size: 20px;
                color: RebeccaPurple;
            }
            
            html{
                background-color: #EBF4FA;
            }
           
            p{
              margin: 1%;
              font-size: 18px;
              line-height: 24px;
            }
            
             table{
                padding: 0.5%;
                Border-color: blue;
                text-align: center;
                width: 100%;
            }