h1{
	font-size: 40px;
	color: FireBrick;
 	text-align: center;
}
            
h2{
	font-size: 30px;
	color: Navy;
	text-align: center;
}
            
h3{
	font-size: 24px;
	color: GoldenRod;
}
            
h4{
	font-size: 20px;
	color: RebeccaPurple;
}
            
html{
	background-color: #EBF4FA;
}
           
p{
	margin: 1%;
	font-size: 18px;
	line-height: 24px;
}
            
.coronation{
	border-color: gold;
	border-style: outset;
	border-width: 5px;
	Padding: 2%;
}
            
.h3TableRight {
	float: right;
	margin-left: 2%;
	margin-right: 2%;
	border-collapse: collapse;
	background-color: goldenRod;
	color: white;
	text-align: center;
}
            
.h4TableRight {
	float: right;
	margin-left: 2%;
	margin-right: 2%;
	border-collapse: collapse;
	background-color: rebeccaPurple;
	color: white;
	text-align: center;
}

.table{
	border = 1px;
	border-style:solid;
}
            
#henryviii{
	margin-left: 41%;
}
            
#elizabethi{
	margin-left: 39%;
}            
           
#victoria1{
	margin-left: 36%;
}
            
#elizabethii{
	margin-left: 39%;
}
            
#gallery td:hover {
	background-color: #F7E7CE;
}
            
#gallery {
	Border-color: blue;
	color: gold;
	width: 100%;
	text-align: center;
	font-family: "copperplate";
	font-size: 30px;
}
            